<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Request Header Parser</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Request Header Parser Microservice</h1>
    <main>
        <h3>User stories:</h3>
        <p>Users can get their IP address, browser details and their browser set language.</p>
    </main>
    <section>
        <h3>Example Usage:</h3>
        <a href="http://localhost:1337/api/whoami" target = "_blank">localhost:1337/api/whoami</a>
    </section>
    <section>
        <h3>Example Output:</h3>
        <p>
            <code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5", "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64;
                rv:50.0) Gecko/20100101 Firefox/50.0"}
            </code>
        </p>
    </section>
    <footer>Made By <a href="https://github.com/ezioda004">ezioda004</a></footer>
</body>

</html>